@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: rgb(66, 177, 140);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main {
    width: 600px;
    margin: 50px auto;
}

h1 {
    color: var(--primaryColor);
    text-align: center;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--primaryColor);
}

button {
    background: rgba(255,255,255,.2);
    border: 0;
    color: rgba(255,255,255,.5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

#game:focus {
    outline: 0;
}

#words {
    filter: blur(5px);
    color: var(--textSecondary);
}

#game:focus #words {
    filter: blur(0);
}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#game:focus #focus-error {
    display: none;
}

.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}

.letter.correct {
    color: #fff;
}

.letter.incorrect {
    color: #f55;
}

#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 198px;
    left: 18px;
    animation: blink .3s infinite;
}

#game:focus #cursor {
    display: block;
}

#game.over #words {
    opacity: .5;
    filter: blur(0px);
}

#game.over #cursor {
    display: none;
}

#stats, #stats * {
    background: var(--bgColor) !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: var(--primaryColor);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

#stats {
    position: fixed !important;
    top: 20px !important;
    left: 20px !important;
    z-index: 1000;
}
